@import 'tailwindcss';

/* Hace que dark: funcione con la clase .dark en <html> */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

html {
  color-scheme: light;
}
html.dark {
  color-scheme: dark;
}

html,
body {
  @apply bg-white text-slate-900 dark:bg-gray-950 dark:text-slate-50;
}
